body{
    margin:o auto;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Roboto', sans-serif;
}
.maindiv{
    display: flex;
    background-color: rgb(255, 247, 247);
    height:420px;
    width:80%;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    margin-left: 90px;
}
.inside-div{
    height: 300px;
    width: 550px;
    padding-left: 50px;
    padding-top: 10px;
    border-radius: 5px;
    
}
header{
    text-align: center;
    margin-bottom: 50px;
}

.space{
     margin-right: 40px;
} 
h3{
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 30px;
}
.color1{
    background-color: rgb(30, 115, 242, 0.7);
    color:#fff;
    line-height: 1.8rem;


}
.color2{
    background-color: rgb(47, 206, 172,0.7);
    color:#fff;
    line-height: 1.8rem;
}
.color3{
    background-color: rgb(230, 207, 32, 0.7);
    line-height: 1.8rem;

    
}
.ulclass{
  text-align: center;
  width:100%;
  list-style-type: none;
  
}
.div-one{
  display:flex;
  padding-left:100px;
  margin-bottom: 30px;


}
.div-two{
  display:flex;
  padding-left: 100px;
}

.div-one li{
  margin-right:200px;

}
.div-two li{
  margin-right:200px;
}