body{
    margin:auto;
    font-family: 'Balsamiq Sans', cursive;
}
.maindiv-one{
  
    display: flex;
    flex-wrap: wrap;  
    background-color: rgb(255, 247, 247);
    min-height:320px;
    padding: 20px;
   justify-content: center;
  
}
.inside-div{
    height: 300px;
    width: 550px;
    padding-left:30px;
    border-radius: 5px;
}
header{
    text-align: center;
    margin-bottom: 20px;
}

.space{
     margin-right: 30px;
} 
h3{
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 30px;
}

.color1{
    background-color: rgb(30, 115, 242, 0.7);
    color:#fff;
    line-height: 1.8rem;
}

.color2{
    background-color: rgb(47, 206, 172,0.7);
    color:#fff;
    line-height: 1.8rem;
}
.color3{
    background-color: rgba(216, 151, 220, 0.7);
    line-height: 1.8rem;
    color:#fff;

    
}
.maindiv-two{
  
  display: flex;
  flex-wrap: wrap;  
}
.maindiv-two > div{
    
     min-height:200px;
     max-width:200px;
     margin:50px;
     padding:50px;
     text-align: center;
}

